@model Tereshenko_crossplatform1.Models.Tereshenko_Car
<h1>Добавить машину</h1>

<form asp-action="Create" method="post">
    <p>Марка: <input asp-for="Make" /></p>
    <p>Модель: <input asp-for="Model" /></p>
    <p>Год: <input asp-for="Year" /></p>
    <p>Цена: <input asp-for="Price" /></p>
    <button type="submit">Сохранить</button>
</form>
<a asp-action="Index">Назад к списку</a>
